@model dr.Application.Contract.User.UserChangePasswordModel
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h4 class="modal-title">تغییر رمز عبور</h4>
</div>

<form asp-page="./Index" asp-page-handler="ChangePassword"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">
	<div class="modal-body">
		<input type="hidden" name="Id" asp-for="Id" value="@Model.Id"/>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label asp-for="NewPassword" class="control-label">رمز عبور جدید</label>
					<input type="password" class="form-control" asp-for="NewPassword">
					<span asp-validation-for="NewPassword" class="error"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
		<button type="submit" class="btn btn-info waves-effect waves-light">تغییر رمزعبور</button>
	</div>
</form>